.App {
    text-align: center;
    font-family: 'Lexend Tera', sans-serif;
}

.form {
    display: grid;
}

.input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    line-height: 20px;
}

.button {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 18px;
    margin: 5px;
}

.label {
    text-transform: uppercase;
    padding-left: 15px;
    padding-bottom: 2px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.card {
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

html {
    background-color: rgba(220, 220, 220, 0.5);
    ;
}

.card--image {
    margin: 0 auto;
    display: block;
}

.card--title {
    font-size: 40px;
    font-family: 'Lexend Tera', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

p {
    font-size: 18px;
}

.para {
    color: red;
}